<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Versear</title>
    <link rel="stylesheet" href="/static/index.css" />
</head>

<body>

    <header>
        <div class="header_inner">
            <h1>Versear</h1>
        </div>
    </header>
    

    <nav>
        <a href="/">ホーム</a>
        <a href="#FAQ">Q＆A</a>
        <a href="member">メンバー</a>
        <a href="/info">SNS</a>
    </nav>


    <div class="block">
        <section>
            <div>
                <h2>Versearへようこそ</h2>
                <p>Versearとは関西大学総合情報学部で活動するプログラミング系のサークルです。
                    メンバーは59人で、毎週、火、木、金に分かれて活動しています。
                    活動場所は高槻キャンパスF棟2階です。
                </p>
            </div>

            <div>
                <h2></h2>
            </div>
        </section>
    </div>

    <div class="block">
        <section>
            <h2>About</h2>

            <div class="timeline">
                <div class="timeline-item">
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <time>2024年8月</time>
                        <h3>サークルのホームページを制作</h3>
                        <p>上回生の講義とサポートを受けて、1回生の春学期の集大成としてサークルのホームページを制作しました。（技術：Python、Flask）</p>
                    </div>
                </div>

                <div class="timeline-item timeline-item_after-long-term">
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <time>2024年1月</time>
                        <h3>シャトルバスの予約システムを開発</h3>
                        <p>2024年度から始まった高槻キャンパスとJR高槻駅北･JR富田駅を結ぶシャトルバスの予約システムを開発しました。（技術：Python、Flask、Raspberry Pie）</p>
                    </div>
                </div>

                <div class="timeline-item">
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <time>2022年1月</time>
                        <h3>サークルが設立</h3>
                        <p>当時の4回生(24年卒)が中心となってVersearが設立されました。</p>
                    </div>
                </div>
            </div>

        </section>
    </div>

    <div class="block">
        <section>
            <h2>活動風景</h2>
            <div>
                <img src="static\img\GQ6Ea97aQAA43Iz.jpg" width="100%" />
                <img src="static\img\GNr1_iAawAA3zaC.jpg" width="100%" />
            </div>
        </section>
    </div>

    <div class="block">
        <section>
            <h2 id="FAQ">FAQ</h2>
            <div>
                <ul>
                    <li>
                        Q 各班の人数はどのくらいいますか？

                        <p>A　火曜４限班が12人、火曜５限班が12人、木曜班が17人、金曜班が17人でそれぞれ活動しています。</p>
                    </li>
                    <p></p>
                    <li>
                        Q　いつ活動していますか？

                        <p>A　火曜班は４限（14:40ー16:10）と５限（16:20ー17:50）
                        　　木曜班は４限　金曜班は3限（13:00ー14:30）にそれぞれ活動しています。</p>
                    </li>
                    <p></p>
                    <li>
                        Q　具体的にどのような活動をしていますか？

                       <p>A　班の中でグループを作り、gitで共有しながら、VScodeで制作しています。
                        去年（2023年）は関西大学総合情報学部のシャトルバスの予約システムを作り、
                        今年はVScodeを使ってホームページを制作しています。</p>
                    </li>
                    <p></p>
                    <li>
                        Q　プログラミング経験はいりますか？

                        <p>A　新入生のほとんどが初心者です。サークルで学びながら制作できます。</p>
                    </li>
                    <p></p>
                    <li>
                        Q どのような言語を使っていますか？
                    
                        <p>A　言語はCSS,HTML,Pythonなどを主に使用しています。</p>
                    </li>
                </ul>
            </div>
        </section>
    </div>

    <footer>
        <p>&copy; 2024 Verseal</p>
    </footer>

</body>

</html>