<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Versear</title>
    <link rel="stylesheet" href="/static/index.css" />
</head>

<body>

    <header>
        <div class="header_inner">
            <h1>Versear</h1>
        </div>
    </header>
    

    <nav>
        <a href="/">Home</a>
        <a href="#">FAQ</a>
        <a href="/info">SNS</a>
    </nav>

    <div class="block">
        <section>
            <ul>
            <li>
                <a href="https://x.com/versear_sojo" target="_blank">Twitter</a>
            </li>
            <li>
                <a href="https://www.instagram.com/kandai_versear" target="_blank">Instagram</a>
            </li>
            </ul>
        </section>
    </div>

</body>
</html>